CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_EXAMPLE_PIN_CLK=42
CONFIG_EXAMPLE_PIN_MOSI=43
CONFIG_EXAMPLE_PIN_MISO=41
CONFIG_EXAMPLE_PIN_CS=44
CONFIG_FATFS_VFS_FSTAT_BLKSIZE=4096
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_HZ=1000
